[Unit]
Description=dnsmasq
After=hostapd.service

[Service]
#keep empty resolve file as it will conflict with systemd resolv
ExecStart=/usr/sbin/dnsmasq -k -n -R --conf-file=/etc/dnsmasq.conf --resolv-file=

[Install]
WantedBy=multi-user.target