[Unit]
Description=hostapd
After=wlan1.service

[Service]
RemainAfterExit=yes
ExecStart=/usr/sbin/hostapd -B /etc/hostapd.conf

[Install]
WantedBy=multi-user.target