[Unit]
Description=hostapd
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-wlan1.device
After=sys-subsystem-net-devices-wlan1.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/hostapd -B /etc/hostapd.conf
#ExecStart=/usr/sbin/dhcpd -4 -q wlan1

[Install]
WantedBy=multi-user.target