[Unit]
Description=snoopy service
Wants=network-manager.service
After=network-manager.service
ConditionPathExists=/etc/snoopy/snoopy.cfg

[Service]
ExecStart=/var/snoopy/snoopy -config=/etc/snoopy/snoopy.cfg

[Install]
WantedBy=multi-user.target