[Unit]
Description=Set the ip address of the AP device
After=network.target
Before=hostapd.service
Before=dnsmasq.service

[Service]
ExecStart=/sbin/ifconfig wlan1 10.10.10.10

[Install]
WantedBy=multi-user.target